<% unless build.removed? %>
<div class="card <%= undeployed ? 'bg-light text-muted' : '' %>" style="margin-bottom: 20px;" title="Build <%= build.version %> - <%= build.number %>">
  <div class="card-body">
    <h5 class="card-title"><%= build.version %></h5>
    <p class="card-text">
      <%= local_assigns[:cluster] %>
    </p>

    <% if stage.review && build.released? %>
      <%= link_to 'Close',
        app_remove_path(@app.uid, release_uid: build.release.uid),
        class: "card-link btn",
        method: :post
      %>
    <% end %>

    <% if stage.review && !build.released? %>
      <%= link_to 'Review',
        app_release_path(@app.uid, build_uid: build.uid),
        class: 'card-link btn btn-secondary',
        method: :post
      %>
    <% end %>

    <% if !stage.review && build.released? && build.id == stage.released.try(:id) %>
      <%= link_to 'Rollback',
        app_release_path(@app.uid, build_uid: stage.previous.uid),
        class: "card-link btn btn-secondary",
        method: :post
      %>
    <% end %>

    <% if stage.promotion && next_stage && !build.promoted && !undeployed && build.id == stage.current.try(:id) %>
      <%= link_to 'Promote',
        app_promote_path(
          @app.uid,
          build_uid: build.uid,
          stage_uid: next_stage.uid,
        ),
        class: "card-link btn",
        method: :post
      %>
    <% end %>

    <% if undeployed %>
      <%= link_to 'Deploy',
        app_release_path(@app.uid, build_uid: build.uid),
        class: 'card-link btn btn-secondary',
        method: :post
      %>
    <% end %>

  </div>
</div>
<% end %>
